/* GENERAL */

.tooltip-el {
  position: relative;
  --arrow-size: 5px;
  --gap-size: 5px;
}

.tooltip-text {
  position: absolute;
  visibility: hidden;
  z-index: 1;
  white-space: nowrap;
  padding: 8px;
  border-radius: 3px;
  color: white;
  background-color: var(--bg-color);
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip-text::after {
  content: '';
  position: absolute;
  border: var(--arrow-size) solid;
}

.tooltip-el:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* TOP */

.tooltip-top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: calc(var(--gap-size) + var(--arrow-size));
}

.tooltip-top::after {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-color: var(--bg-color) transparent transparent transparent;
}

/* BOTTOM */

.tooltip-bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: calc(var(--gap-size) + var(--arrow-size));
}

.tooltip-bottom::after {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-color: transparent transparent var(--bg-color) transparent;
}

/* LEFT */

.tooltip-left {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  margin-right: calc(var(--gap-size) + var(--arrow-size));
}

.tooltip-left::after {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border-color: transparent transparent transparent var(--bg-color);
}

/* RIGHT */

.tooltip-right {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: calc(var(--gap-size) + var(--arrow-size));
}

.tooltip-right::after {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border-color: transparent var(--bg-color) transparent transparent;
}